includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method Tymon\\JWTAuth\\Facades\\JWTAuth::[a-zA-Z0-9_]+\(\)\.#'
    excludePaths:
        - ./*/_ide_helper.php